API_BASE_URL=http://localhost:9000/

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_ROLE=PUBLIC
SNOWFLAKE_DATABASE=RETAIL_ANALYTICS
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_SCHEMA=GOLD

JWT_SECRET_KEY=
JWT_TOKEN_EXPIRE_MINUTES=60

OPENAI_API_KEY=
OPENAI_SMALL_MODEL=gpt-5-nano
OPENAI_MEDIUM_MODEL=gpt-4.1-nano
OPENAI_LARGE_MODEL=gpt-4o-mini